.u-margin-bottom-big {
  margin-block-end: 8rem;
}

.u-margin-bottom-medium {
  margin-block-end: 4rem;
}

.u-margin-bottom-small {
  margin-block-end: 1rem;
}

.u-center-text {
  text-align: center;
}
